---
const pageTitle = "About Me";
const identity = {
    firstName: "Jesse",
    country: "USA",
    occupation: "Facilities Support Technician",
    hobbies: ["Gaming", "Technology", "Hiking", "Rollerblading", "Creative Projects", "Learning", "Exploring"]
};

const skills = ["HTML", "CSS", "JavaScript", "React", "Astro", "Writing Docs", "Problem Solving", "Cybersecurity", "IT Support",
"Linux", "Networking", "Cloud Computing", "Git", "Agile Methodologies", "Team Collaboration"];

const happy = true;
const finished = false;
const goal = 3;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
	</head>
	<body>
        <a href="/">Home</a>
        <a href="/about/">About</a>
        <a href="/blog/">Blog</a>

	<h1>{pageTitle}</h1>
<h2>... and my new Astro site!</h2>

        <p>Hi, I'm Jesse Fletcher. I'm a Marine Corps veteran who found my
        purpose in technology after years of working in the mechanical trades.
        That hands-on experience built my problem-solving skills and gave me a
        mindset that fits perfectly in the world of IT and cybersecurity.</p>

        <p>Today I work in tech support while earning my degree in Cybersecurity.
        I enjoy building tools, fixing real problems, and learning new technologies.
        I started this blog to share what I discover, help others grow in tech, and 
        create a space where people can learn without judgment.</p>

        <p>Outside of work I spend time gaming, rollerblading, exploring creative projects,
            and staying curious about the world. I believe technology should be useful,
            honest, and empowering for everyone.</p>

<p>Here are a few facts about me:</p>
<ul>
    <li>My name is {identity.firstName}.</li>
    <li>I live in {identity.country} and I work as a {identity.occupation}.</li>
    {identity.hobbies.length >= 2 &&
    <li>Some of my hobbies are: {identity.hobbies[0]}, {identity.hobbies[1]}, {identity.hobbies[2]}, and {identity.hobbies[3]}.
    </li>
    }
</ul>
<p>My skills are:</p>
    <ul>
        {skills.map((skill) => <li>{skill}</li>)}
    </ul>
{happy && <p>I am happy to be learning Astro!</p>}

{finished && <p>I finished this tutorial!</p>}

{goal === 3 ? <p>My goal is to finish in 3 days.</p> : <p>My goal is not 3 days.</p>}
	</body>
</html>