---
import BaseLayout from '../layouts/BaseLayout.astro';
import '../styles/global.css';
const pageTitle = "About Me";
const identity = {
    firstName: "Jesse",
    country: "USA",
    occupation: "Facilities Support Technician",
    hobbies: ["Gaming", "Technology", "Hiking", "Rollerblading", "Creative Projects", "Learning", "Exploring"]
};

const skills = ["HTML", "CSS", "JavaScript", "React", "Astro", "Writing Docs", "Problem Solving", "Cybersecurity", "IT Support",
"Linux", "Networking", "Cloud Computing", "Git", "Agile Methodologies", "Team Collaboration"];
---



<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>







	</head>
	<body>
<BaseLayout pageTitle={pageTitle}>
    <h1>Next Gen Technologist</h1>
<h2>Empowering Future Technologists</h2>
&nbsp;
&nbsp;
        <style>
        h1 {
            color: rgb(113, 163, 228);
            font-size: 2rem;
        }
        .skill {
        color: rgb(113, 163, 228);
        font-weight: bold;
        text-transform: uppercase;
        }
        </style>


<h2>... and my new Astro site!</h2>
&nbsp;
&nbsp;
        <p>Hi, I'm Jesse Fletcher. I'm a Marine Corps veteran who found my
        purpose in technology after years of working in the mechanical trades.
        That hands-on experience built my problem-solving skills and gave me a
        mindset that fits perfectly in the world of IT and cybersecurity.</p>

        <p>Today I work in tech support while earning my degree in Cybersecurity.
        I enjoy building tools, fixing real problems, and learning new technologies.
        I started this blog to share what I discover, help others grow in tech, and 
        create a space where people can learn without judgment.</p>

        <p>Outside of work I spend time gaming, {identity.hobbies[3]}, exploring creative projects,
            and staying curious about the world. I believe technology should be useful,
            honest, and empowering for everyone.</p>

&nbsp;
&nbsp;
<p>My skills are:</p>
    <ul>
        {skills.map((skill) => <li class="skill">{skill}</li>)}
    </ul>
&nbsp; 
        <p>Thanks for visiting my blog! I hope you find something useful here.</p>
</BaseLayout>
	</body>
</html>